/*
  Large Tab icon
  feature name = test_feature => test-feature
  icon.png = 40X40px
  #features-menu li a.icon-[menu name] span.icon
*/
#features-menu li a.icon-links span.icon {
  background: url(icon.png) no-repeat;
}

/*
  Create content, small icon
  feature name = test_feature => test_feature
  icon-small.png = 20X20px
  span.spaces-feature.feature-[feature name]
*/
span.spaces-feature.feature-oa_group_links {
  background: url(icon-small.png) no-repeat;
}

body.page-links div#content {
  width: 95%;
}

body.page-links div.views-row {
  float: left;
  padding: 10px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  width: 200px;
  height: 250px;
  background-color: none;
  border: 1px solid transparent;
}

body.page-links div.views-row:hover {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body.page-links div.views-row div.field_link_url_url {
  margin-bottom: 2px;
}

body.page-links div.views-row div.button-activity {
  float: right;
}
